<style>
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .gm-style .gm-style-iw-c {
    padding:0;
  }
  .show-btn {
    padding:12px;
  }
  .disable {
    display:none;
  }
</style>

<div id="map"></div>

<%= render 'search'%>

<%= render partial: 'post', collection: @posts %>

<%= render 'form'%>
