<label for="my-modal-4" class="btn modal-button">投稿一覧</label>
<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative overflow-y-auto h-full" for="">
  <%= render partial: 'posts/stamp', collection: @posts, as: 'post' %>
  </label>
</label>
